.table {
  display: block;
  width: 480px;
  height: 556px;
  overflow-y: scroll;
  scroll-behavior: smooth;
  border: 2px solid #333;
  border-top: none;
  padding: 20px;
  background-color: white;
  margin-bottom: 100px;
}
table {
  width: 100%;
}

.country__name {
  width: 70%;
}
.country__name img {
  margin-right: 10px;
}
.country__cases {
  text-align: center;
  width: 100px;
}
.country__todayCases {
  display: flex;
  justify-content: center;
  width: 100px;
  color: #7ddf64;
}

.gray {
  background-color: #f4f4f4;
}
